:root {
  --main-middle-post-background-color: #fff;
  --main-middle-post-padding: 1rem;
  --main-middle-post-radius: 2rem;
  --main-middle-margin: 1rem;
  --main-middle-btn-padding: 0.4rem 1.5rem;
}
/* --- Main Middle Post --- */