/* --- Nav --- */
:root {
  --nav-background-color: #fff;
}

nav{
  display:block;
  position:fixed;
  z-index: 999;
  width:100%;
  top:0;
  padding:0.7rem 0;
  background: var(--nav-background-color)
}

nav .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-shrink:0;
}

nav .container .logo{
  text-transform:uppercase;
  font-family:"Comfortaa",cursive;
}

nav .container .create{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
  flex-shrink:0;
}

