/* --- Main Left --- */
:root {
  --left-profile-background-color: #fff;
  --left-profile-padding: 1rem;
  --left-profile-radius: 1rem;
}

/* main-left */
.main_left{
  position:relative;
  /* 计算整个main-left 不让下方撑起来 */
  height:calc(100vh - 5.4rem);
  /* 给个最小宽度 */
  min-width:200px;
  overflow-x:hidden;
}

.main-left h2{
  font-size:0.9rem;
}

/* profile模块 */
.main-left .profile{
  display:flex;
  align-items:center;
  padding:var(--left-profile-padding);
  border-radius:var(--left-profile-radius);
  background:var(--left-profile-background-color);
  column-gap:1rem;
  margin-bottom:1rem;
  width:100%;
}

.main-left .profile p{
  font-size:0.7rem;
  color: var(--color-gray);
}

.main-left .btn{
  margin-top:1rem;
  width:100%;
  text-align:center;
  padding:1rem 0;
}